/* =========================
   Header
========================= */
header {
  height: 60px;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 50;
  /* background: var(--color-background-header); */
  backdrop-filter: blur(10px);
}

.site-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.site-header-inner-left,
.site-header-inner-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 60px; */
  /* width: 60px; */
  padding: 0.25rem;
}

.logo {
  width: 100%;
  max-width: 50px;
  height: auto;
  width: 50px;
}

.logo-dm {
  width: 100%;
  max-width: 30px;
  height: auto;
  width: 30px;
}

.fotogram-full-svg-letter {
  fill: var(--color-foreground);
}