/* =========================
   Layout
========================= */
section {
  padding: 4rem 0;
}

.layout {
  max-width: var(--max-width-layout);
  margin: 0 auto;
  padding: 0 var(--padding);
  width: 100%;
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 0 var(--padding);
  width: 100%;
}
